html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    background-color: #fff;
        font-family: 'Roboto-Regular', sans-serif;
        font-size: 12px;
        line-height: 16px;
        color: $text;
        font-weight: 500;
}

a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
button{
    cursor: pointer;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

  