
@import '_vars';
@import '_global';
@import '_fonts';


@media (max-width: 1024px){
    .menu__list{
        display: none;
    }
    .menu__btn{
        display: block;
        width: 40px;
        cursor: pointer;
        margin-left: 20px;

        div{
            background-color: $text;
            height: 4px;
            &+div{
                margin-top: 7px;
            }
        }
    }
}

