@import 'vars';
@import 'global';
@import 'fonts';


// start header
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 122px;
    align-items: center;
}

.header__search-form{
    color: #667;
    font-size: 12px;
    text-align: center;

    form{
        display: flex;
        justify-content: start;
        min-height: 40px;
    }
    input{
        max-width: 245px; 
        width: 100%;
        background-color: #e6dfd9;
        border: none;
        padding-left: 10px;
        padding-right: 110px;
        border-radius: 8px;
        margin-right: 10px;
        &::placeholder{
            color: #90a4ae;
        }
        &:active,  &:focus{
            outline:none;
        }

      }
  
}

.main__btn{
    border: none;
    background-color: $aqua;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 0 15px;
}

.menu{
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.menu__list{
    width: 100%;
    font-size: 0; 
    ul{
       font-size: 0; 
    }
    li{
        display: inline-block;
        background-color: $aqua;
        min-height: 65px;
        width: 14.2871%;   
        text-align: center;   
        & + li{
            border-left: 1px solid #fff;
        }
        &:first-child{
            border-top-left-radius: 9px; 
            border-bottom-left-radius: 9px;
        }
        &:last-child{
            border-top-right-radius: 9px; 
            border-bottom-right-radius: 9px;
        }
        &.active{
            background-color: #957964; 
        }
    }
    a{
        color: #fff;
        font-size: 16px;
        padding: 25px 16px 25px 19px;
        width: 100%;
    }
}


.menu__btn{
    display: none;
}
// end header


// start slider
.slider{
    // border: 1px solid #000;
}
.slider__item{
    min-height: 400px;
    display: flex;
    position: relative;
    background-color: #fff;
    // border: 1px solid #000;
}
.slider__img{
    // border: 1px solid #000;
    max-width: 400px;
    width: 100%;
    min-height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 35px;
    left: 0px;
}
.slider__info{
    position: absolute;
    max-width: 390px;
    min-height: 200px;
    padding: 10px 0px 10px 0px;
    bottom: 120px;
    right: 0;
    // border: 1px solid #000;
    color: #fff;
}
.slider__info-title{
    font-size: 36px;
    line-height: 42px;
    color: #957964;
    padding-bottom: 26px;
}
.slider__info-text{
    font-size: 16px;
    color: $text;
    margin-bottom: 35px;
}
.slider__btn{
    min-height: 40px; 
    min-width: 100px;
}

.slider{
    // padding: 110px 0px 120px;
    position: relative;
    .slick-dots{
        text-align: center;
        // margin-top: 50px;
        position: absolute;
        right: 0;
        bottom: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                   background-color: $aqua;  
                    }              
                }
            button{
                border-radius: 50%;
                background-color: #fff;
                border: 3px solid $aqua;
                font-size: 0;
                width: 19px;
                height: 19px;
                cursor: pointer;  
                outline: none;              
            }
        }
    }
}

// end slider